body {
	padding: 2vw;
	margin: 0px;
	background-color: white;
	font-family: Helvetica, Arial, sans-serif;
}



h1 {
	background-color: #0E2D6D;
	color: #ffffff;
	border: none;
	border-bottom: 3px solid #335533;
	margin: -2vw;
	margin-bottom: 0px;
	width: 104vw;
	height: 70px;
	line-height: 70px;
	padding: 0px;
	padding-bottom: 5px;
	font-family: Helvetica, Arial, sans-serif;
	text-align: center;
}

.center {
  display: block;
  width: 40%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

table {
	background-color: #ffffff;
	border: 2px solid #000000;
	border-spacing: 0px;
}

tr {
	border: none;
	border-spacing: 0px;
	padding: 0px;
	margin: 0px;
}

td {
	border: 1px solid #000000;
	border-spacing: 0px;
	margin: 0px;
	padding: 1vw;
}

th {
	border: 1px solid #000000;
	border-spacing: 0px;
	margin: 0px;
	padding: 1vw;
}